<div class="event_info">
    <% if @event.errors.any? %>
        <ol>
            <% @event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ol>
    <% end %>

  <%= form_for(@event, :role => "form") do |f| %>
    <div class="form-group">
        <%= label_tag(:name, "Name") %>
        <%= f.text_field :name %>
    </div>
    <div class="form-group">
        <%= label_tag(:description, "Description") %>
        <%= f.text_area :description %>
    </div>
    <div class="form-group">
        <%= label_tag(:start, "Start Date")%>
        <%= f.datetime_select :start %>
    </div>
    <div class="form-group">
        <%= label_tag(:end, "End Date")%>
        <%= f.datetime_select :end %>
    </div>
    <div class="form-group">
        <%= label_tag(:provider, "Provider") %>
        <%= f.text_field :provider %>
    </div>
    <div class="form-group">
        <%= label_tag(:cost, "Cost") %>
        <%= f.text_field :cost %>
    </div>
    <%= submit_tag("Submit", :class => "btn btn-default new-btn ") %>
  <% end %>
</div>