<div class="col-lg-6">
  <h4>Scheduled Events</h4>
  <% if @authenticated.is_admin? %>
  <p>
    <%= link_to('Add Event', new_event_path, :class => "btn btn-default") %>
  </p>
  <% end %>
  <% if @events.present? %>
    <!-- display a list of all events that have been created in order of start date -->
    <% @events.each do |event| %>
    <p>
      <%= link_to(event.name, event_path(event.id)) %>
    </p>
    <% end %>
  <% else %>
    <p>There are no events scheduled.</p>
  <% end %>
</div>
<div class="col-lg-6">

  <!-- by default display the details of the next scheduled event -->
  <% if @next_event.present? %>
    <h4><%= @next_event.name %></h4>
    <ul>
      <li><%= @next_event.description %></li>
      <li><%= @next_event.start %></li>
      <li><%= @next_event.end %></li>
      <li><%= @next_event.provider %></li>
    </ul>

   <!--  access control check -->
    <% if @authenticated.is_admin? %>
      <!-- actions for the current event -->
      <%= link_to('Edit Event', edit_event_path(@next_event.id), :class => "btn btn-default") %>
      <%= link_to('Delete Event', delete_event_path(@next_event.id), :class => "btn btn-default") %>
      <!-- view all the participating units for the current event -->
      <%#= link_to('View Schedule', event_participation_path(@next_event.id), :class => "btn btn-default") %>
    <% end %>

    <h4><%= @next_event.name %> Registration</h4>
    <!-- identify the signed in user & their unit number -->
    <!-- provide a form for them to register for the current event -->
    <% if @participation.id.nil? %>
      <%= form_for(@participation, :url => new_event_participation_path(@next_event.id)) do |f| %>
        <%= label_tag(:unit_id, "Schedule unit") %>
        <%= f.collection_select(:unit_id, @units, :id, :unit_number) %><br>
        <%= label_tag(:date, "Schedule date") %>
        <%= f.date_select :date %>
        <%= label_tag(:time, "Schedule time")%>
        <%= f.time_select :time %><br>
        <%= f.submit "Register", :class => "btn btn-default" %>
      <% end %>
    <% else %>
      <p>You are scheduled for this event at <%= @participation.date %><%= @participation.time %></p>
    <% end %>
  <% end %>

  <% if @authenticated.is_admin? && !@participants.empty? %>
  <div>
    <table>
      <tr>
          <th>unit</th>
          <th>event</th>
          <th>date</th>
          <th>time</th>
      </tr>
      <% @participants.each do |p| %>
        <tr>
          <td><%= p.unit.unit_number %></td>
          <td><%= p.event.name %></td>
          <td><%= p.date %></td>
          <td><%= p.time %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <% end %>

</div>