<h2>Building Units</h2>

<!-- search for a unit -->
<%= form_tag("/search", :method => "get") do %>
  <%= label_tag(:query, "Search for unit number ") %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Find Unit") %>
<% end %>

<% if @unit.present? %>
  <ul>
    <h2>Unit Information</h2>
    <li><%= @unit.unit_number %></li>
    <li><%= @unit.floor %></li>
    <%= @unit.occupants %></li>
    <%= @unit.occupancy_date %>
  </ul>
<% else %>
  <p>Try again, that unit does not exist in the building.</p>
<% end %>

